<header class="site-header">
  <link rel="stylesheet" href="/css/header.css">
  {%  if site.navLinks %}
  <nav>
    <ul class="nav-links flex-row">
      {% for link in site.navLinks %}
      <li><a href="{{ link.url }}" class="red-type">{{ link.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</header>