{% extends "layouts/page.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/notebook.css">
{% endblock %}

{% block body %}
<header class="site-header">
  {%  if site.navLinks %}
  <nav>
    <ul class="nav-links flex-row">
      {% for link in site.navLinks %}
      <li><a href="{{ link.url }}" class="red-type">{{ link.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</header>

<main>
  {% block content %}
    {{ content | safe }}
  {% endblock %}
</main>
{% endblock %}


{% block scripts_extra %}
{% endblock %}